- console.log('this is the menu')
if (menu === 'login')
	div.grid-right
		div.tb-u-100
			form(enctype="multipart/form-data", method="POST", action="/login")
				div.input-field
					label.ms-Label Username
					input.ms-TextField-field(type="text", name="username")
				div.input-field
					label.ms-Label.tb-u-100 Password
					input.ms-TextField-field(type="password", name="password")
				p
				button.btn.waves-effect.waves-light(type="submit", ariaDescription="Log in") Log in
			p
			hr
			
			p.tb-font-xl First time here?
			a.btn.waves-effect.waves-light(href="/register", role="button", ariaDescription="Register") Register
if (menu === 'register')
	div.grid-right
		div.tb-u-100
			p.tb-font-xl Your Name:
			div.input-field#response
				hr
			div#registersection
				form#form(enctype="multipart/form-data", method="POST", action="/register", style="margin-bottom: 50px")
					input#svgurl(type="hidden", name="svg")
					input#avatarurl(type="hidden", name="avatar")
					div.tb-u-100.input-field
						label.ms-Label Full Name
						input.ms-TextField-field(type="text", name="givenName", id="givenName", aria-required="true", @blur="checkNameValidity('\d!@#$%^*()+=-[]\\\';,./{}|\<>?:', 'Alphabetic characters only, please', $event)", required)
						a.btn.waves-effect.waves-light(role="button") Check availability
					p &nbsp
					div.tb-u-100.input-field
						label.ms-Label I represent a 
						select(@change="changePlace($event)", required)
							option(disabled, value= "") Place type
							option(v-for="(item, i) in Object.keys(rep)", :value="item", :selected="(pu.properties && pu.properties.placetype === item ? 'selected' : false)", v-html="item")
					p(v-if="!pu.properties")
					p(v-else-if="pu.properties.placetype")
						div.tb-u-100.input-field(v-for="(item, i) in Object.keys(rep)", v-if="pu.properties.placetype === item")
							label.ms-Label(v-text="'The '+item+' you represent'")
							input.ms-TextField-field(v-if="item === 'ZIP4'", type="text", name="place", id="place", aria-required="true", @blur="checkNameValidity('\D!@#$%^*()+=[]\\\';,./{}|\<>?:', 'Format ZIP Code as numbers separated by a dash. Example: 00000-1111', $event)", required)
							input.ms-TextField-field(v-else, :type="'text'", name="place", id="place", aria-required="true", @blur="checkNameValidity('\d!@#$%^*()+=-[]\\\';,./{}|\<>?:', 'Alphabetic characters only, please', $event)", required)
							p &nbsp
							p(v-if="repitem.length > 0")
							label.ms-Label Title
							select(name="title", @change="changeTitle($event)")
								option(disabled, value= "") Title
								option(v-for="(ti, j) in repitem", :selected="(pu.properties && pu.properties.title === ti ? 'selected' : false)", :value="ti", v-text="ti")
						
					div.tb-u-100.input-field
						label.ms-Label Username
						input.ms-TextField-field.is-required(type="text", name="username", maxlength="40", id="username", aria-required="true", 
							@blur="checkNameValidity('\s!@#$%^*()+=-[]\\\';,./{}|\<>?:', 'Alpha-numeric characters only, please', $event)", required)
					//- div.tb-u-100.input-field
					//- 	label.ms-Label(for="languages") Language
					//- 		datalist#theselanguages
					//- 
					//- 		select(name="languages")
					//- 			each lang, i in languages
					//- 				option(value= lang.code) #{lang.nativeName}
					//- 					span --
					//- 					span #{lang.name}
						//input.ms-TextField-field.is-required(type="text", list="theselanguages", id="languages")
					
					div.tb-u-100.input-field
						label.ms-Label Email
						input.ms-TextField-field.is-required(type="email", name="email", id="email", aria-required="true", @blur="checkEmailValidity()", required)
					div.tb-u-100.input-field.is-required
						label.ms-Label Password
						input.ms-TextField-field.is-required(type="password", name="password", aria-required="true", required)
					p
					button.btn.waves-effect.waves-light#submitregister(type="submit", ariaDescription="Register") Register
		div.tb-u-100
			#info(v-text="info")
			
if (menu === 'data')
	div.grid-right
		
		div.tb-u-100
			//- 		a.grid-header
			div.grid-mid
				maintitle.centerall
					div.slidercontainer(style="position:relative;height:auto;width:100%;")
						img#slider(style="width:100%;height:auto; transition-property: opacity; transition-duration:2s;margin-top:20px;position:absolute;z-index:1", v-bind:src="'/publishers/gnd/images/full/img_'+sliderIndex+'.png'")
						img(style="width:100%;height:auto;margin-top:20px;position:relative;z-index:0;", v-bind:src="'/images/publish_logo_sq.svg'")

					chapter(v-if="dat.length > 0", v-for="(data, n) in dat", v-bind:id="n")
						taable
							celll(v-on:click="navigateTo('/')")
								a(v-bind:href="'/'")
									header.row.tb-font-l Title 
										bd.bd(v-text="data[0].title.ind")
										span(v-text="' '") 
										span(v-text="data[0].title.str")
							celll
							celll
								a(v-bind:href="'/menu/'+data[0].title.ind+'/'+data[0].chapter.ind+''")
									header.row.tb-font-l Chapter 
										bd.bd(v-text="data[0].chapter.ind")
										span(v-text="' '")
										span(v-text="data[0].chapter.str")
							celll
								a.slidercontainer(v-if="data[0].section.ind === '000'", v-bind:href="'/list/'+data[0]._id+'/null'", style="position:relative;height:auto;width:100%;")
									img(style="width:100%;height:auto;margin-top:20px;position:relative;z-index:0;display:block;", v-bind:src="data[0].properties.media[0].image")
						
						section.headline.headrule(
							v-for="(doc, i) in data",
							v-if="doc.section.ind !== '000'",
							v-bind:id="doc.section.ind", 
							style="margin-top: 15px; position:relative;")
							a.accordion(v-on:click="accordion(n, doc.index)", style="pointer-events: auto; width: 100%; height: 100%; position: absolute;display:table-cell;vertical-align:bottom;")
								div.ui(style="width: 23px; top:35px;position:absolute;display:block;padding-top:5px;")
									svg(v-bind:style="(accordions[n].indexOf(doc.index) !== -1 ? {transform: 'rotate(180deg)'} : {transform: 'rotate(0deg)'})", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 448 512")
										path(d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z")
							taable(style="position:relative;")
								celll.tb-11-m0
									span(v-html="marked(doc.properties.description)")
								
								celll.tb-11-m0.tb-07-m1.tb-font-m
									a.href(v-bind:href="'/list/'+doc._id+'/null'", style="display:block;padding:0 0 0 105px;text-indent:-105px;")
										bd.bd(v-if="doc.title", v-text="doc.title.ind+'.'+doc.chapter.ind+'.'+doc.section.ind", style="width: 100px;display:inline-block;text-indent:0;")
										span(v-text="' '")
										span(v-html="doc.section.str")
								celll.tb-11-m0.tb-03-m1
									breadcrumbs(v-if="doc.properties")
										a(v-bind:href="'/menu/'+doc.title.ind+'/'+null+''")
											span.tb-font-xxs(v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
										span.tb-font-xxs(v-text="' > '")
										a(v-bind:href="'/menu/'+doc.title.ind+'/'+doc.chapter.ind+''")
											span.tb-font-xxs(v-text="doc.chapter.str")
										span.tb-font-xxs(v-text="' > '")
										a(v-bind:href="'/list/'+doc._id+'/null'")
											span.tb-font-xxs(v-text="doc.section.str")
			div.grid-footer
	//- div.grid-right
	//- 	div.tb-u-100
	//- 		a.grid-header(v-for="(entry, i) in data" :href="'/sig/'+entry.pagetitle")
	//- 			p.tb-font-l Name 
	//- 				span.tb-font-l(v-text="entry.pagetitle")
	//- 		div.grid-left(v-for="(entry, i) in data" v-if="entry.content[0]")
	//- 			a.thumbnail.gallery(v-if="entry.content[entry.content.length-1].image !== ''" :href="'/sig/'+entry.pagetitle")
	//- 				img(:src="entry.content[entry.content.length-1].image", :alt="entry.pagetitle + ranks[entry.content.length-1]+' signature'")
	//- 
	//- 			div.grid-right(v-if="entry")
	//- 				p.tb-font-s by 
	//- 					span.tb-font-xxs(v-text="entry.publishers[0].username")
	//- 				p.tb-font-s(v-if="entry.content[entry.content.length-1] !== undefined"
	//- 					v-html="marked(entry.content[entry.content.length-1].description)")
	//- 				span &nbsp ...
	//- 			div.grid-footer
	//- 
	//- 		hr
if (menu === "home")
	chapter(v-if="dat && dat.length && !Array.isArray(dat[0])" v-for="(ch,n) in dat", v-bind:id="n", v-bind:key="n")
		taable
			celll
				a(v-bind:href="'/menu/'+ch[0].title.ind+'/'+ch[0].chapter.ind+''")
					header.row.tb-font-l Session 
						bd.bd(v-text="ch[0].chapter.ind")
						span(v-text="' '")
						span(v-text="ch[0].chapter.str")
- console.log(menu)
