if (menu === 'login')
	div.grid-right
		div.tb-u-100
			form(enctype="multipart/form-data", method="POST", action="/login")
				div.input-field
					label.ms-Label Username
					input.ms-TextField-field(type="text", name="username")
				div.input-field
					label.ms-Label Password
					input.ms-TextField-field(type="password", name="password")
				p
				button.btn.waves-effect.waves-light(type="submit", ariaDescription="Log in") Log in
			p
			hr
			
			p.tb-font-xl First time here?
			a.btn.waves-effect.waves-light(href="/register", role="button", ariaDescription="Register") Register
if (menu === 'register')
	div.grid-right
		p.tb-font-xl Choose a nickname for your Chef:
		div.input-field#response
			label.ms-Label Page Title
			input.ms-TextField-field(type="text", name="pagetitle", id="pagetitle", aria-required="true", onblur="checkNameValidity('pagetitle', '!@#$%^*()+=-[]\\\';,./{}|\<>?:', 'Alpha-numeric characters only, please');")
			a.btn.waves-effect.waves-light(role="button") Check availability
			hr
		div#registersection(style="display: none")
			p.tb-font-xl Create a basic profile
			form#form(enctype="multipart/form-data", method="POST", action="/register", style="margin-bottom: 50px")
				input(type="hidden", name="pagetitle", id="pagetitle2")
				input#svgurl(type="hidden", name="svg")
				input#avatarurl(type="hidden", name="avatar")
				div.tb-u-100
					div.input-field
						label.ms-Label Username
						input.ms-TextField-field.is-required(type="text", name="username", maxlength="40", id="username", aria-required="true", onblur="checkNameValidity('username', '!@#$%^*()+=-[]\\\';,./{}|\<>?:', 'Alpha-numeric characters only, please');")
					div.input-field
						label.ms-Label(for="languages") Language
							datalist#theselanguages
							
							select(name="languages")
								each lang, i in languages
									option(value= lang.code) #{lang.nativeName}
										span --
										span #{lang.name}
							//input.ms-TextField-field.is-required(type="text", list="theselanguages", id="languages")


					div.input-field.is-required
						label.ms-Label Password
						input.ms-TextField-field.is-required(type="password", name="password")
				p
				button.btn.waves-effect.waves-light#submitregister(type="submit", ariaDescription="Register") Register
		div.tb-u-100
			#info #{info}
			
if (menu === 'home')
	div.grid-right
		each entry, i in data
			div.grid-container.inner
				a.grid-header(href="/"+entry.pagetitle+"")
					p.tb-font-l #{entry.pagetitle}
				div.grid-left
					if (entry.content[entry.content.length-1].image !== "")
						a.thumbnail.gallery(href="/"+entry.pagetitle+"")
							img(src= entry.content[entry.content.length-1].image, alt=""+entry.pagetitle+"'s "+ranks[entry.content.length-1]+" snack")
					else
						a.thumbnail.gallery(href="/"+entry.pagetitle+"")
							img(src= entry.content[entry.content.length-1].info[entry.content[entry.content.length-1].level].image, alt=""+entry.pagetitle+"'s "+ranks[entry.content.length-1]+" snack")

				div.grid-right
					p.tb-font-s by 
						span.tb-font-xxs #{entry.publishers[0].username}
					if (entry.content[entry.content.length-1].description)
						p.tb-font-s.hideoverlap
							!= md(entry.content[entry.content.length-1].description)
						span &nbsp ...
				div.grid-footer
					
			hr