- var marked = marked

div.grid-mid
	if (imgindex)
		if (type === 'image')
			img(src= contentData.substrates[imgindex].image)
		else
			embed(src= contentData.substrates[imgindex].image, width="100%", height="100%")

div.grid-right
	if (infowindow === 'edit')
		include docedit.pug
	else
		if (index >= 0)
			div.grid-container.inner
				div.grid-header
					each imag, i in contentData.substrates
						a.thumbnail.gallery(href="")
							img(src=""+imag.image+"")
					p.tb-font-s.hideoverlap #{contentData.label}
				div.grid-left(style="padding: 6px 0 0 6px;")
					a.tb-font-m(href="/api/editcontent/"+menuData.urltitle+"/"+pageindex+"/"+index+"", title="edit blog entry")
						i.fa.fa-edit
				div.grid-right
					p.tb-font-xl #{contentData.title}
					p.tb-font-s
						!= md(contentData.description)
					
				div.grid-footer
					
		else
			each entry, k in doc.content
				a.tb-font-m(href="/"+doc.pagetitle+"", title="Go to "+doc.pagetitle+"") #{doc.pagetitle}
				if (loggedin && loggedin === doc.publishers[0].username)
					div(style="padding: 10px 0 0 10px")
						a.tb-font-m(style="margin: 6px 0 0 6px;z-index: 0;", href="/api/editcontent/"+menuData.urltitle+"/"+doc.pageindex+"/"+index+"", title="Edit "+doc.pagetitle+"")
							i.fa.fa-edit
				br
				p.tb-font-s.hideoverlap #{entry.label}
				p.tb-font-xs.hideoverlap
					!= md(entry.description)
					span &nbsp ...
				if (entry.substrates.length > 0)
					div.thumbnail.gallery(id= entry.pageindex, name= entry._id + "@all_" + entry.pageindex)
						img(src= entry.substrates[0].thumb)
					div#hide
						if (entry.substrates[0].name === '')
							span.tb-font-xxs &nbsp
						else
							span.tb-font-xxs #{entry.substrates[0].name}
						if (entry.substrates[0].caption === '')
							span.tb-font-xs &nbsp
						else
							span.tb-font-xs #{entry.substrates[0].caption}

						div.ms-ListItem-actions
							if (entry.substrates[0].url)
								div.ms-ListItem-action
									a(href= entry.substrates[0].url, target="_blank")
										i.ms-Icon.ms-Icon--link
				hr(style="color: "+doc.css.primary+"")
		
div.grid-footer
