- var marked = marked

div.grid-right
	if (infowindow === 'edit')
		include docedit.pug
	else
		if (index >= 0)
			div.grid-container.inner
				div.grid-header
					if (contentData[drawtype])
						each entry, i in contentData[drawtype]
							if (Array.isArray(entry))
								each imag, j in entry
									a.thumbnail.gallery(href="")
										img(src=""+imag.image+"")
							if (contentData.info !== undefined)
								p.tb-font-s.hideoverlap About
									span #{contentData.info[contentData.level].name}
				div.grid-left(style="padding: 6px 0 0 6px;")
					if (loggedin && loggedin === menuData.publishers[0].username && menuData.content.length > 0)
						a.tb-font-m(href="/api/editcontent/"+menuData.urltitle+"/"+pageindex+"/"+index+"", title="edit sandwich")
							img(src="/images/tools/lvl_"+contentData.level+".svg")
				div.grid-right
					p.tb-font-xl #{contentData.title}
					p.tb-font-s #{contentData.description}
					
				div.grid-footer
					
		else
			each entry, k in doc.content
				a.tb-font-m(href="/"+doc.pagetitle+"", title="Go to "+doc.pagetitle+"") #{doc.pagetitle}
				if (loggedin && loggedin === doc.publishers[0].username)
					div(style="padding: 10px 0 0 10px")
						a.tb-font-m(style="margin: 6px 0 0 6px;z-index: 0;", href="/api/editcontent/"+menuData.urltitle+"/"+doc.pageindex+"/"+index+"", title="Edit "+doc.pagetitle+"")
							img(src="/images/tools/lvl_"+entry.level+".svg")
				br
				p.tb-font-s.hideoverlap About
					span #{entry.info[entry.level].name}
				if (entry.description)
					p.tb-font-xs.hideoverlap #{entry.description}
					span &nbsp ...
				if (entry[drawtype].length > 0)
					div.thumbnail.gallery(id= entry.pageindex)
						img(src= entry[drawtype][level].image)
					div#hide
						if (entry[drawtype][level].name === '')
							span.tb-font-xxs &nbsp
						else
							span.tb-font-xxs #{entry[drawtype][entry.level].name}
						if (entry[drawtype][level].caption === '')
							span.tb-font-xs &nbsp
						else
							span.tb-font-xs #{entry[drawtype][entry.level].caption}

				hr(style="color: "+doc.css.primary+"")
		
div.grid-footer
