- var marked = marked

div.grid-right
	if (infowindow === 'edit')
		include docedit.pug
	else
		if (index >= 0)
			div.grid-container.inner
				div.grid-header
					p.tb-font-xl.translate #{contentData.title}
					//-
						if (drawtype)
							each imag, i in contentData[drawtype]
								if (imag.unlocked)
									a.thumbnail.gallery(href="")
										img(src=""+imag.image+"", alt=""+imag.name+"")
						if (contentData.info !== undefined)
							p.tb-font-s.hideoverlap.translate About 
								span.translate #{contentData.info[contentData.level].name}
				div.grid-left(style="padding: 6px 0 0 6px;")
					if (menuData.publishers[0].username === loggedin)
						if (drawtype && drawtype !== "tools")
							
							//if (contentData[drawtype][contentData.level].unlocked)

							a.tool(href="#", onclick="$.post('/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+drawtype+"/"+contentData.level+"', function(){ window.location.href = '/api/selectlayer'});")
								.ui
									img(src="/images/info/info_"+contentData.level+".svg", style="width: 100%; height: 100%;", alt=""+menuData.pagetitle+"'s "+ranks[contentData.index]+" snack")

					else
						a.tool(href="/chef/"+menuData.pagetitle+"/"+contentData.index+"")
							.ui
								img(src="/images/info/info_"+contentData.level+".svg", style="width: 100%; height: 100%;", alt=""+menuData.pagetitle+"'s "+ranks[contentData.index]+" snack")

				div.grid-right
					each item, i in contentData.info
						if (item.unlocked)
							p.tb-font-l
								!= md(item.name.toUpperCase())
							p.tb-font-s.translate #{item.name}
								span.tb-font-s  is 
								span.tb-font-s.translate #{item.caption}
								if (item.spec.unlock)
									- var drawtyp = item.spec.unlock.split('.')[0]
									- var drawind = item.spec.unlock.split('.')[1]
									//if (drawind === contentData[drawType][i].ind)
									span.tb-font-s . Use the #{contentData[drawtyp][drawind].name}
								
								//-
									if (contentData.level > 2)
										span.tb-font-s #{contentData.tools[2].name}
									if (contentData.level <= 2 && contentData.level > 0)
										if (contentData[drawType] === "substrates")
											if (contentData.level === 0)
												span.tb-font-s #{contentData.tools[0].name}
											else
												span.tb-font-s #{item.name}
										if (contentData[drawType] === "filling")
											span.tb-font-s #{contentData.tools[1].name}
									if (item.ind === contentData.level)
										span.tb-font-s #{contentData.tools[0].name}

								span.tb-font-s  to unlock the next step!
				div.grid-footer
					
		else
			each entry, k in menuData.content
				a.tb-font-m(href="/chef/"+menuData.pagetitle+"", title="Go to "+menuData.pagetitle+"") #{menuData.pagetitle}
				if (loggedin && loggedin === menuData.publishers[0].username)
					div(style="padding: 10px 0 0 10px")
						a.tb-font-m(style="margin: 6px 0 0 6px;z-index: 0;", href="/api/editcontent/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"", title="Edit "+menuData.pagetitle+"")
							img(src="/images/tools/tools_"+entry.level+".svg")
				br
				p.tb-font-s.hideoverlap About
					span #{entry.info[entry.level].name}
				if (entry.description)
					p.tb-font-xs.hideoverlap #{entry.description}
					span &nbsp ...
				if (entry[drawtype].length > 0)
					div.thumbnail.gallery(id= entry.pageindex)
						img(src= entry[drawtype][level].image)
					div#hide
						if (entry[drawtype][level].name === '')
							span.tb-font-xxs &nbsp
						else
							span.tb-font-xxs #{entry[drawtype][entry.level].name}
						if (entry[drawtype][level].caption === '')
							span.tb-font-xs &nbsp
						else
							span.tb-font-xs #{entry[drawtype][entry.level].caption}

				hr(style="color: "+doc.css.primary+"")
		
div.grid-footer
