div.menu(class= type)
	canvas#canvas.topRight
	//(style="background-image:url('"+imageUrl+"')")
		div.overtext #{menuData.pagetitle}
		div.blogname #{menuData.content[index].title}
	div.topLeft
	//(style="background-image:url('"+imageUrl+"')")

div.grid-container
	div.grid-header.mainHeader
		//#app(style="pointer-events:none;display: inline-block;float: left;margin: 0 auto;width: auto;position: absolute;z-index: 50;height: 33.2%;")

		a.dropdown.mainmenu(href="#", title="Menu")
			img.i(src="http://pu.bli.sh/images/menu_button.svg")

		//-
			div.dropdown
			
				div.submenu
					a#mySearch.ui
						i.fa.fa-search
					input(type="search", placeholder="search")
			a.submenu.drop(href="/")
				.ui
					i.fa.fa-home
				span.tb-font-l Home

			if (loggedin)
				if (menuData.publishers[0].username === loggedin)
					a.submenu.drop(href="/ingredients/"+menuData.pageindex+"/"+contentData.index+"/"+infowindow+"/"+tlstatus+"", title="View pantry")
						.ui
							i.fa.fa-clock-o(class= tlstatus ? "active" : "")
						span.tb-font-l My pantry

					a.submenu.drop(href="/api/addfeature/"+menuData.pageindex+"")
						.ui
							i.fa.fa-shopping-basket
						span.tb-font-l Get groceries
				a.submenu.drop(href="/api/publish")
					.ui
						i.fa.fa-user-o
					span.tb-font-l My Pages

				a.submenu.drop(href="/logout")
					.ui
						i.fa.fa-sign-out
					span.tb-font-l Log out
				
			else
				a.submenu.drop(href="/login") 
					.ui
						i.fa.fa-sign-in
					span.tb-font-l Login
				
				a.submenu.drop(href="/register") 
					.ui
						i.fa.fa-id-card-o
					span.tb-font-l Register
		div.pullquote
			//-
				if (contentData.substrates[contentData.substrates.length-1].caption)
					span.tb-font-xl.hang #{(contentData.emoji?contentData.emoji:"ⱡ")}
					span.tb-font-xxl #{contentData.substrates[contentData.substrates.length-1].caption}
					a(href="#"+contentData.substrates[contentData.substrates.length-1].index+"")
						//span.tb-font-xl.over ⟫
	
	div.grid-left
		#wrapper
			div#tlmodules.dropdown
				a.module(href="/", title="home")
					.ui
						i.fa.fa-home
					span.tb-font-l Home
				if (loggedin)
					if (menuData.publishers[0].username === loggedin)
						a.module.dropdown(title="inventory")
							.ui
								i.fa.fa-user-o
							span.tb-font-l Create
						each module, j in menuData.content
							if (j === menuData.content[index].index)
								each ing, k in menuData.content[index].substrates
									a.module.focus.drop(class= tltype, href="/chefs/"+menuData.urltitle+"/"+module.index+"", title= module.label, name= module.label, id="" + module._id + "@" + module.index + "" )
										.ui
											img(src="/images/avatars/avatar_1.svg")
										span.tb-font-l #{ing.name}
								each ing, l in menuData.content[index].filling
									a.module.focus.drop(class= tltype, href="/chefs/"+menuData.urltitle+"/"+module.index+"", title= module.label, name= module.label, id="" + module._id + "@" + module.index + "" )
										.ui
											img(src="/images/avatars/avatar_1.svg")
										span.tb-font-l #{ing.name}

						a.module(href="/logout", title="logout")
							.ui
								i.fa.fa-sign-out
							span.tb-font-l Log out
				else
					a.module(href="/login", title="login") 
						.ui
							i.fa.fa-sign-in
						span.tb-font-l Login
					
					a.module(href="/register", title="register") 
						.ui
							i.fa.fa-id-card-o
						span.tb-font-l Register
				
	if (doc)
		include docgallery.pug
	else
		include datagallery.pug