extends layout
block page
	if (username)
		- var menu = 'profile'
	else
		- var menu = 'home'
block content
	if (doc)
		- var menuData = doc
		- var pageIndex = pageindex
	else
		if (pageindex)
			- var pageIndex = pageindex
			- var menuData = data[pageindex]
		else
			- var pageIndex = data[data.length-1].pageindex
			if (data[data.length-1].content[data[data.length-1].content.length-1].media[0] !== undefined)
				- var menuData = data[data.length-1]
			else
				- var menuData = data[0]
	if (index)
		- var contentData = menuData.content[index]
		- var imageUrl = contentData.media[contentData.media.length-1].image
	else
		if (menuData.content[menuData.content.length-1].media[0] !== undefined)
			- var index = menuData.content[menuData.content.length-1].index
			- var contentData = menuData.content[menuData.content.length-1]
			- var imageUrl = contentData.media[0].image
		else
			if (menuData.content[menuData.content.length-1].media[menuData.content[menuData.content.length-1].media.length-1] !== undefined)
				- var index = menuData.content[menuData.content.length-1].index
				- var contentData = menuData.content[menuData.content.length-1]
				- var imageUrl = contentData.media[contentData.media.length-1].image
			else
				- var index = 0
				- var contentData = menuData.content[0]
				if (contentData.media[0] !== undefined)
					- var imageUrl = contentData.media[0].image
				else
					- var imageUrl = ""
	input(type="hidden", value= pageIndex, id="pageindex")
		//-
			navigation
	div#select(class= type)
		include menu.pug
	
	//-
		initiate map + event listeners
	script(type="text/javascript").
		const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
		var data = `'#{data}'`
		/*var pageindex = '#{pageindex}'*/
		var pageIndex; 
		
		$(document).ready(function(){
			pageIndex = parseInt(document.getElementById('pageindex').value, 10);
			console.log('this pageindex'+pageIndex)
			var topmargin = document.querySelector('.pullquote').getBoundingClientRect().height;
			$('.grid-header.mainHeader').css('height', (topmargin + 30) + 'px');
			$('textarea').each(function(){
				var text;
				if ($(this).val()) {
					$(this).css('max-width', '100%')
				} else {
					//placeholder reliably contains updated text fsr
					text = $(this).attr('placeholder');
					$(this).val(text);
					$(this).css('max-width', '100%')
				} 
			});
			
			$('.list > .ms-Panel-main').css({display: 'none'})
			$('.list').removeClass('is-open')
			$('.list').css({display: 'none'})
			$('div.dropdown').slideUp(100);
			$('#select').removeClass('selected');
			
		})
		
		//drop-down event listener
		$(document).on('click', 'a.mainmenu', function (e) { 
			e.preventDefault()

			if ($('#select').hasClass('selected')) {
				$('div.dropdown').slideUp(100);
				$('#select').removeClass("selected");
				var topmargin = document.querySelector('.pullquote').getBoundingClientRect().height;
				$('.grid-header.mainHeader').css('height', topmargin + 30 + 'px');
			} else {
				$('#select').addClass('selected');
				$('div.dropdown').slideDown(200);
				$('.drop').slideDown(200);
				setTimeout(function(){
					var topmargin = document.querySelector('.pullquote').getBoundingClientRect().height;
					$('.grid-header.mainHeader').css('height', topmargin + 30 + 'px');
				}, 210);
			}

			e.stopPropagation();
		});
		//search
		/*$(document).on('change', '#mySearch', function(e){
			e.preventDefault();
			$('.searchbox').slideUp(100);
			$('.searchbox').remove();
			var term = $(e.target).val();
			console.log(term)
			$.get('/search/'+term+'').done(function(response){
				console.log(response)
				
				$(e.target).parent().append('<div id="dropdown" class="searchbox"></div>')
				if (response == 'none') {
					$('.searchbox').slideDown(200);
					$('.searchbox').append('<p class="drop ms-Grid-col ms-u-sm12">No pu.bli.sher by that name</p>')
				}
				for (var i in response) {
					$('.searchbox').slideDown(200);
					$('.searchbox').append('<a class="drop ms-Grid-col ms-u-sm12" href="/'+response[i].username+'"><span class="ms-font-l">'+response[i].username+'</span></a>')
				}
			})
		})*/
				
		//gallery
		$(document).on('click', 'a.thumbnail', function(e){
			e.preventDefault()
			var imgindex = $(this).attr('id')
			var userid = $(this).attr('name').split('@')[0]
			if ($(this).hasClass('gallery')) {
				var windex = $(this).attr('name').split('@')[1];
				//var index = windex.split('all_')[1];
				$.post('/gallery/'+pageid+'/'+windex+'/'+imgindex+'', function(){
					window.location.href = '/gallery/'+pageid+'/'+windex+'/'+imgindex+'/#scrollto_'+index+'@'+imgindex+''
				})
			} else {
				var windex = $(this).attr('name').split('@')[1];
				
				$.post('/gallery/'+pageid+'/'+windex+'/'+imgindex+'', function(){
					window.location.href = '/gallery/'+pageid+'/'+windex+'/'+imgindex+''
				})
			}
			return false;
		});
		
		//Timeline hovers
		$('.module').mouseleave(function(){
			$(this).children('.hovertext').remove();
			//$(this).children('p').remove();
			$(this).children('.overlay').remove();
			$('.module').removeClass('hover')
			if ($(this).css('z-index') > 0) {
				$(this).css('z-index', '1')
			}
		});
		$('.module').mouseenter(function(){
			var title = $(this).attr('title');
			var name = $(this).attr('name');
			$('.module').removeClass('hover');
			$(this).addClass('hover');
			$(this).prepend('<span class="ms-font-xs ms-fontWeight-light hovertext" style="text-align: left">'+title+'</span>')
			//$(this).append('<p class="ms-font-xs ms-fontWeight-light" style="text-align: left">'+name+'</p><div class="overlay"></div>')
			if ($(this).css('z-index') > 0) {
				$(this).css('z-index', '2')
			}
		});
		var datalength = #{data.length};
		var doc = `#{JSON.stringify(doc)}`;
		var lMarker;
		var medialength;
		var classname_a;
		var classname_b;
				
		//expand the edit-able sections
		$(document).on('click', '#editform', function(){
			if ($('#formshow').css('display') === 'none') {
				document.getElementById('select').className = 'map';
				document.getElementsByClassName('menu')[0].className = 'menu map';//+ #{type} +''
				document.getElementById('formshow').style.display = 'block';
				//$('#formshow').css('display', 'block');
				document.getElementById('map').style.visibility = 'visible';
				$('#editform > span').html('Hide Feature details');
				lMarker.dragging.enable();
				console.log(lMarker)
				beginFeatureDrag();
				//$('#map').css('display: block;')
								//$('#select > div.menu').removeClass('map');
				//$('#select > div.menu').addClass('map');
				//document.getElementsByClassName('menu blog').className = `#{type} menu`
			} else {
				document.getElementById('select').className = 'blog';
				document.getElementsByClassName('menu')[0].className = 'menu blog'
				//$('#formshow').css('display', 'none');
				document.getElementById('formshow').style.display = 'none';
				document.getElementById('map').style.visibility = 'visible';
				$('#editform > span').html('Show Feature details');
				lMarker.dragging.disable();
				endFeatureDrag();
				//$('#map').css('display: none');
				//$('#select > div.menu').removeClass('map');
				//$('div.menu').addClass('blog');

				//document.getElementsByClassName('menu '+#{type}).className = 'menu'
			}
		})
		$(document).on('click', '#editmedia', function(){
			if ($('#mediashow').css('display') === 'none') {
				$('#mediashow').css('display', 'block');
				$('#editmedia > span').html('Hide Media details')
			} else {
				$('#mediashow').css('display', 'none');
				$('#editmedia > span').html('Show Media details')
			}
		})
		
		$(document).on('click', '#editlayout', function(){
			if ($('#layoutshow').css('display') === 'none') {
				$('#layoutshow').css('display', 'block');
				$('#editlayout > span').html('Hide Layout details')
			} else {
				$('#layoutshow').css('display', 'none');
				$('#editlayout > span').html('Show Layout details')
			}
		});
		
		//edit mode
		$(document).on('click', '#deletefeature', function(){

			if ($('#deletefeature span').css('display') === 'block') {
				$(this).attr("href", "/api/deletefeature/"+pageIndex+"/"+#{index}+"");
			} else {
				$('#deletefeature span').css('display', 'block')
			}
		})
		//check / uncheck
		$(document).on('click', '.ms-ChoiceField-field', function(e){
			e.preventDefault;
			var that = $(this);
			var id = that.attr('id');
			if (that.siblings('input').hasClass('is-checked')) {
				that.siblings('input').removeClass('is-checked')
				that.siblings('input').attr('aria-checked', 'false')
				that.siblings('input').removeAttr('checked');
				$('#input_date2').parent('.ms-TextField').removeClass('is-disabled');
				
			} else {
				that.siblings('input').addClass('is-checked')
				that.siblings('input').attr('aria-checked', 'true');
				//that.siblings('input').attr('checked', 'checked');
				$('#input_date2').val('');
				$('#input_date2').parent('.ms-TextField').addClass('is-disabled');
			}
		})
		//live update of 'layout' / wip
		/*
				$('#inputtext').on('mouseup', function(e){
						
					var whole = e.target.value.split("")
					var selObj = window.getSelection();
					console.log(selObj.toString());
					var selRange = selObj.getRangeAt(0)
					console.log(selRange)
					var select = selObj.toString();
					
					whole.splice(selObj.focusOffset, selObj.length, "<span class='highlight'>"+select+"</span>");
					$('#previewtext').html(marked(whole.join("")))
				})
		*/
		$('#inputtext').on('keyup', function(e){
			$('#previewtext').html(marked(e.target.value))
		});
		$('input').on('keydown', function(e){
			if (e.key === 'Slash') {
				e.preventDefault();
			}
		})
		
